doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet")

		link(rel="stylesheet" href="css/icon-font.css")
		link(rel="stylesheet" href="css/style.css")
		link(rel="shortcut icon" type="image/png" href="img/favicon.png")
		
		title Natours | Exciting tours for adventurous people

	body

		header.header

			.header__logo-box(class="logo-box")
				img.header__logo(class="logo-box__logo" src="img/logo-white.png", alt="logo")

			.header__text-box
				h1.header__title(class="heading-primary")
					span(class="heading-primary--main") Outdoors
					span(class="heading-primary--sub") is where life happens

				a.header__button(class="btn btn--white btn--animated" href="#") Discover our tours


		main

			section.section-about

				.section-about__title-box(class="u-ta-center u-mb-big")
					h2.section-about__title(class="heading-secondary") Exciting tours for adventurous people


				.section-about__content(class="row")

					.section-about__text-block(class="col-1-of-2")
					
						h3.section-about__text-title(class="heading-tertiary u-mb-small") You're going to fall in love with nature
						p.section-about__text-paragraph(class="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. A, quod expedita recusandae necessitatibus, laborum atque deleniti rem excepturi aperiam maiores ab, ut saepe ipsam obcaecati enim praesentium aut doloribus iste.
						
						h3.section-about__text-title(class="heading-tertiary u-mb-small") Live adventures like you never have before
						p.section-about__text-paragraph(class="paragraph") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi ea amet, corrupti facilis odio cupiditate tempora asperiores numquam?

						a.section-about__more-btn(class="btn--text" href="#") Learn more &rarr;

					.section-about__images(class="col-1-of-2")

						.section-about__images-wrapper(class="composition")

							img.composition__photo.composition__photo--1(src="img/nat-1-large.jpg", alt="Photo 1")
							img.composition__photo.composition__photo--2(src="img/nat-2-large.jpg", alt="Photo 2")
							img.composition__photo.composition__photo--3(src="img/nat-3-large.jpg", alt="Photo 3")

		
			section.section-features

				.section-features__feature-content(class="row")

					.section-features__feature-box(class="col-1-of-4")
						.feature
							i.feature__icon(class="icon-basic-world")
							h3.feature__title(class="heading-tertiary u-mb-small") Explore the world
							p.feature__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab maxime voluptates soluta nisi necessitatibus.

					.section-features__feature-box(class="col-1-of-4")
						.feature
							i.feature__icon(class="icon-basic-compass")
							h3.feature__title(class="heading-tertiary u-mb-small") Meet nature
							p.feature__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab maxime voluptates soluta nisi necessitatibus.

					.section-features__feature-box(class="col-1-of-4")
						.feature
							i.feature__icon(class="icon-basic-map")
							h3.feature__title(class="heading-tertiary u-mb-small") Find your way
							p.feature__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab maxime voluptates soluta nisi necessitatibus.

					.section-features__feature-box(class="col-1-of-4")
						.feature
							i.feature__icon(class="icon-basic-heart")
							h3.feature__title(class="heading-tertiary u-mb-small") Live a healthier life
							p.feature__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab maxime voluptates soluta nisi necessitatibus.
